@namespace AntDesign.Pro.Pages.Monitor
@page "/dashboard/monitor"

<Row Gutter="24">
    <Col Span="18">
        <Card>
            <Row>
                <Col Span="6"></Col>
                <Col Span="6"></Col>
                <Col Span="6"></Col>
                <Col Span="6"></Col>
            </Row>
            <div class="mapChart">
                <Map />
            </div>
        </Card>
    </Col>
    <Col Span="6">
        <Card Title="@("Activity forecast")">
            <ActiveChart />
        </Card>
        <Card Title="@("Efficiency")">
            <Gauge Title="Ratio" Height="180" Percent="81" />
        </Card>
    </Col>
</Row>

<Row Gutter="24">
    <Col Span="12">
        <Card Title="@("Proportion Per Category")" Class="pieCard">
            <Row Style="padding: 16px 0;">
                <Col Span="8">
                    <Pie Animate="false" LineWidth="2" />
                </Col>
                <Col Span="8">
                    <Pie Animate="false" LineWidth="2" />
                </Col>
                <Col Span="8">
                    <Pie Animate="false" LineWidth="2" />
                </Col>
            </Row>
        </Card>
    </Col>
    <Col Span="6">
        <Card Title="@("Popular Searches")">
            <TagCloud Data="Tags" Height="161" />
        </Card>
    </Col>
    <Col Span="6">
        <Card Title="@("Resource Surplus")">
            <WaterWave Height="161" Title="Fund Surplus" Percent="34" />
        </Card>
    </Col>
</Row>

@inject IJSRuntime jsRuntime
@code
{
    public string[] Tags = new[] {"tset1"};

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeVoidAsync("antPro.monitorCharts");
    }
}
