@namespace AntDesign.Pro.Pages
@layout UserLayout
@page "/user/register"
@inject IStringLocalizer<Resource> L;

<div class="main">
    <div class="register">
        <h3>@L["userandregister.register.register"]</h3>
        <Form Model="@_user">
            <FormItem>
                <Input Placeholder="@L["userandregister.email.placeholder"]" @bind-Value="@context.UserName" Size="@InputSize.Large"></Input>
            </FormItem>

            <FormItem>
                <Input Placeholder="@L["userandregister.password.placeholder"]" @bind-Value="@context.Password" Size="@InputSize.Large" Type="password"></Input>
            </FormItem>

            <FormItem>
                <Input Placeholder="@L["userandregister.confirm-password.placeholder"]" @bind-Value="@context.ConfirmPassword" Size="@InputSize.Large" Type="password"></Input>
            </FormItem>

            <FormItem>
                <InputGroup Compact Size="@InputSize.Large" Style="display: table">
                    <Select DefaultValue=@("+86") Style="width: 25%" Size="large">
                        <SelectOption Value="+86">+86</SelectOption>
                        <SelectOption Value="+87">+87</SelectOption>
                    </Select>
                    <Input Placeholder="@L["userandregister.phone-number.placeholder"]" Style="width: 75%;" @bind-Value="@context.Phone"></Input>
                </InputGroup>
            </FormItem>

            <FormItem>
                <FormItem>
                    <Row Gutter="8">
                        <AntDesign.Col Span="16">
                            <Input Placeholder="@L["userandregister.verification-code.placeholder"]" @bind-Value="@context.Captcha" Size="@InputSize.Large"></Input>
                        </AntDesign.Col>
                        <AntDesign.Col Span="8">
                            <Button Size="large" Block>@L["userandregister.register.get-verification-code"]</Button>
                        </AntDesign.Col>
                    </Row>
                </FormItem>
            </FormItem>

            <FormItem>
                <Button Type="primary" Size="large" OnClick="Reg" class="submit">@L["userandregister.register.register"]</Button>
                <a class="login" href="/user/login">@L["userandregister.register.sign-in"]</a>
            </FormItem>
        </Form>
    </div>
</div>

