@namespace AntDesign.Pro.Pages.Account.Settings

<AntList 
    TItem="Item"
    ItemLayout="AntDirectionVHType.Horizontal"
    DataSource="Data"
    Actions="Actions">
    <Item Context="item">
        <AntListItemMeta Avatar="@_avatar" Description="@item.Description">
            <Title>@item.Title</Title>
        </AntListItemMeta>
    </Item>
</AntList>

@code
{
    public class Item
    {
        public string Title { get; set; }
        public string Description { get; set; }
    }

    private RenderFragment _avatar = null;

    private RenderFragment _switch = @<Switch CheckedChildren="@("Open")" UnCheckedChildren="@("Close")" Checked="true"/>;

    public List<RenderFragment> Actions => new List<RenderFragment> { _switch };

    public IList<Item> Data { get; set; } = new List<Item>
    {
        new Item
        {
            Title = "Account Password",
            Description = "Messages from other users will be notified in the form of a station letter",
        },
        new Item
        {
            Title = "System Messages",
            Description = "System messages will be notified in the form of a station letter",
        },
        new Item
        {
            Title = "To-do Notification",
            Description = "The to-do list will be notified in the form of a letter from the station",
        },
    };
}