@namespace AntDesign.Pro.Pages.Form

<Result 
    Status="success"
    Title="@("操作成功")"
    SubTitle="@("预计两小时内到账")"
    Class="result">
    <Extra>
        <Button Type="primary" OnClick="OnFinish">
            再转一笔
        </Button>
        <Button>查看账单</Button>
    </Extra>
    <ChildContent>
        <div class="information">
            <Descriptions Column="1">
                <DescriptionsItem Title="@("付款账户")"> @_model.PayAccount</DescriptionsItem>
                <DescriptionsItem Title="@("收款账户")"> @_model.ReceiverAccount</DescriptionsItem>
                <DescriptionsItem Title="@("收款人姓名")"> @_model.ReceiverName</DescriptionsItem>
                <DescriptionsItem Title="@("转账金额")">
                    <Statistic Value="_model.Amount" Suffix="@("元")" />
                </DescriptionsItem>
            </Descriptions>
        </div>
    </ChildContent>
</Result>

@code
{
    public class FormModel
    {
        public string PayAccount { get; set; } = "ant-design@alipay.com";
        public string ReceiverAccount { get; set; } = "test@example.com";
        public string ReceiverName { get; set; } = "Alex";
        public string Amount { get; set; } = "500";
        public string Password { get; set; } = "12345678";
    }

    private readonly FormModel _model = new FormModel();

    public void OnFinish()
    {

    }
}
